../config-repo/
**/target/
**/out/
**/*.class
**/*.jar
**/*.war
**/*.ear

**/.idea/
**/*.iml
**/*.iws
**/*.ipr

**/*.log

.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

**/.cache/
**/.tmp/
**/tmp/

**/logs/
**/build/
